$bg-color: #0c0716;
$primary-pink: #f72585;
$primary-blue: #4cc9f0;
$secondary-black: #20232a;
$text-color: #ffffff;
$font-normal: 400;
$font-bold: 700;
$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1536px;
