@use "variables" as *;
@use "mixins" as *;

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include sm-screen {
    gap: 2rem;
  }
  @include xxl-screen {
    gap: 5rem;
  }

  &__title-bg {
    background-color: $primary-blue;
    rotate: -15deg;
    padding: 1rem;
    position: relative;
    width: 8rem;
    height: 4rem;
    @include sm-screen {
      width: 12rem;
      height: 6rem;
    }
  }

  &__title {
    font-size: 2rem;
    text-shadow: 3px 3px 0px #f72585;
    font-weight: $font-bold;
    position: absolute;
    rotate: 15deg;
    top: -1rem;
    @include sm-screen {
      font-size: 3rem;
    }
  }

  &__text {
    // @include flex-center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-top: 2rem;
    font-size: clamp(1rem, 1.5vw + 0.6rem, 2rem);
    gap: 1rem;
    @include lg-screen {
      flex-direction: row;
    }

    & > div {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    & > p {
      margin-block: 0.5rem;
      @include sm-screen {
        margin-block: 1rem;
      }
      @include md-screen {
        margin-block: 1.5rem;
      }
      @include lg-screen {
        margin-block: 0;
      }
    }
  }

  &__accent {
    color: $primary-pink;
    font-weight: $font-bold;

    &--blue {
      color: $primary-blue;
    }
  }

  &__skills {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__techs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__tech {
    background-color: $secondary-black;
    padding: 0.5rem;
    width: clamp(4rem, 6vw + 2.6rem, 8rem);
    height: clamp(4rem, 6vw + 2.6rem, 8rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    transition: all 200ms ease-in-out;

    &:hover {
      scale: 1.25;
      -webkit-box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 1);
      box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 1);
      filter: brightness(1.25);
    }
  }

  &__tech-icon svg {
    margin-bottom: 0.5rem;
    width: clamp(1.5rem, 2.3vw + 1rem, 3rem);
    height: clamp(1.5rem, 2.3vw + 1rem, 3rem);

    @include md-screen {
      margin-bottom: 1rem;
    }
  }

  &__tech-name {
    font-size: clamp(0.75rem, 0.8vw + 0.6rem, 1rem);
    text-align: center;
  }
}
