@use "variables" as *;
@use "mixins" as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;

  &__title-bg {
    background-color: $primary-blue;
    rotate: -15deg;
    padding: 1rem;
    position: relative;
    width: 8rem;
    height: 4rem;
    margin-inline: auto;

    @include sm-screen {
      width: 12rem;
      height: 6rem;
    }
  }

  &__title {
    font-size: 2rem;
    text-shadow: 3px 3px 0px $primary-pink;
    font-weight: $font-bold;
    position: absolute;
    rotate: 15deg;
    top: -1rem;
    @include sm-screen {
      font-size: 3rem;
    }
  }
}
