@use "variables" as *;
@use "mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

body {
  background-color: $bg-color;
  background-image: url("../assets/background.png");
  background-size: auto 100vh;
  font-family: "Quicksand", sans-serif;
  color: $text-color;
  overflow-x: hidden;
}

main {
  padding-inline: 3rem;

  @include lg-screen {
    padding-inline: 5rem;
  }

  @include xl-screen {
    padding-inline: 10rem;
  }
}

section {
  min-height: 100vh;
  min-height: 100svh; // if supported
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background: $secondary-black;
}

::-webkit-scrollbar-thumb {
  background: $primary-pink;
}
