@use "variables" as *;
@use "mixins" as *;

.homepage {
  @include flex-center;
  flex-direction: column;
  gap: 3rem;
  animation: page-animation 300ms ease-in-out;

  @include lg-screen {
    flex-direction: row;
    justify-content: space-between;
  }

  &__text-bg {
    padding: 1rem;
    position: relative;
    height: 6rem;
    width: 10rem;
    cursor: grab;

    @include lg-screen {
      height: 10rem;
      width: 18rem;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
    }

    &--primary::after {
      background-color: $primary-pink;
      rotate: -15deg;
    }

    &--secondary {
      margin-left: 8rem;

      &::after {
        background-color: $primary-blue;
        rotate: 20deg;
      }
    }
  }

  &__bio {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include md-screen {
      width: 50%;
    }
  }

  &__header {
    font-size: clamp(2rem, 2.9vw + 1.4rem, 4rem);
    font-weight: $font-bold;
  }

  &__subheader {
    font-size: clamp(1rem, 2.2vw + 1rem, 3rem);
    margin-bottom: 1rem;
  }

  &__accent {
    color: $primary-pink;

    &--blue {
      color: $primary-blue;
    }

    &--name {
      font-weight: $font-bold;
    }
  }

  &__paragraph {
    font-size: clamp(1rem, 1.5vw + 0.6rem, 2rem);
  }

  &__arrow {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    scale: 2;
    // cursor: pointer;
    opacity: 0;
    animation: arrow-animation 1.5s ease-in-out infinite 4s;
  }
}

@keyframes arrow-animation {
  0% {
    bottom: 3rem;
    opacity: 0;
  }

  50% {
    bottom: 1rem;
    opacity: 1;
  }

  75% {
    opacity: 0.2;
  }

  100% {
    bottom: 3rem;
    opacity: 0;
  }
}

@keyframes primary-box-animation {
  100% {
    rotate: (-15deg);
  }
}

@keyframes secondary-box-animation {
  100% {
    rotate: (20deg);
  }
}

@keyframes page-animation {
  0% {
    opacity: 0;
  }
}
