@use "variables" as *;
#homepage-name {
  animation: fill 1s ease forwards 3s,
    rotate-animation 1s ease-in-out forwards 3s;
  position: absolute;
  transform: translateX(-10%);
}

#homepage-name path:nth-child(1) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: name-animation 1s ease forwards;
}
#homepage-name path:nth-child(2) {
  stroke-dasharray: 118px;
  stroke-dashoffset: 118px;
  animation: name-animation 1s ease forwards 0.3s;
}
#homepage-name path:nth-child(3) {
  stroke-dasharray: 160px;
  stroke-dashoffset: 160px;
  animation: name-animation 1s ease forwards 0.6s;
}
#homepage-name path:nth-child(4) {
  stroke-dasharray: 219px;
  stroke-dashoffset: 219px;
  animation: name-animation 1s ease forwards 0.9s;
}
#homepage-name path:nth-child(5) {
  stroke-dasharray: 274px;
  stroke-dashoffset: 274px;
  animation: name-animation 1s ease forwards 1.2s;
}
#homepage-name path:nth-child(6) {
  stroke-dasharray: 233px;
  stroke-dashoffset: 233px;
  animation: name-animation 1s ease forwards 1.5s;
}
#homepage-name path:nth-child(7) {
  stroke-dasharray: 169px;
  stroke-dashoffset: 169px;
  animation: name-animation 1s ease forwards 1.8s;
}
#homepage-name path:nth-child(8) {
  stroke-dasharray: 154px;
  stroke-dashoffset: 154px;
  animation: name-animation 1s ease forwards 2.1s;
}
#homepage-name path:nth-child(9) {
  stroke-dasharray: 210px;
  stroke-dashoffset: 210px;
  animation: name-animation 1s ease forwards 2.4s;
}
#homepage-name path:nth-child(10) {
  stroke-dasharray: 230px;
  stroke-dashoffset: 230px;
  animation: name-animation 1s ease forwards 2.7s;
}
#homepage-name path:nth-child(11) {
  stroke-dasharray: 244px;
  stroke-dashoffset: 244px;
  animation: name-animation 1s ease forwards;
}
#homepage-name path:nth-child(12) {
  stroke-dasharray: 233px;
  stroke-dashoffset: 233px;
  animation: name-animation 1s ease forwards 0.7s;
}
#homepage-name path:nth-child(13) {
  stroke-dasharray: 118px;
  stroke-dashoffset: 118px;
  animation: name-animation 1s ease forwards 1.4s;
}
#homepage-name path:nth-child(14) {
  stroke-dasharray: 219px;
  stroke-dashoffset: 219px;
  animation: name-animation 1s ease forwards 2.3s;
}
#homepage-name path:nth-child(15) {
  stroke-dasharray: 225px;
  stroke-dashoffset: 225px;
  animation: name-animation 1s ease forwards 2.7s;
}

@keyframes name-animation {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }
  100% {
    fill: white;
  }
}

@keyframes rotate-animation {
  100% {
    rotate: 15deg;
  }
}
